$color-0: #3C1D23;  // Темно-рожевий
$color-10: #8F4B59; // Темний
$color-20: #BF6A7E; // Пастельний
$color-30: #E296A7; // Світлий
$color-50: #FFD8E4; // Оригінальний
$color-70: #FFE6F0; // Світло-рожевий
$color-90: #FFF7FB; // Дуже світлий
$color-99: #FFFFFF; // Білий
$color-100: #FFFFFF; // Білий